CGNSiiF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by the Oracle JDeveloper 10g Web Services WSDL Generator-->
<!--Date Created: Wed Mar 20 12:04:22 GMT 2013-->
<definitions name="CGNSiiF" targetNamespace="http://com/cgn/ws/MainWS.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/cgn/ws/MainWS.wsdl" xmlns:ns1="http://com.cgn.ws/ICGNSiiF.xsd">
   <types>
      <schema targetNamespace="http://com.cgn.ws/ICGNSiiF.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
         <complexType name="com_cgn_ws_biz_CargaInicial" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineas" type="ns1:ArrayOfcom_cgn_ws_biz_Lineas"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_Lineas" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="programa" type="int"/>
               <element name="proyecto" type="int"/>
               <element name="objetoDelGasto" type="int"/>
               <element name="auxiliar" type="int"/>
               <element name="financiamiento" type="int"/>
               <element name="moneda" type="int"/>
               <element name="tipoDeCredito" type="int"/>
               <element name="importe" type="float"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_Lineas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_Lineas[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_CargaInicialYAjustes" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasCIyAjustes" type="ns1:ArrayOfcom_cgn_ws_biz_LineasCIyAjustes"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasCIyAjustes" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="programa" type="int"/>
               <element name="proyecto" type="int"/>
               <element name="objetoDelGasto" type="int"/>
               <element name="auxiliar" type="int"/>
               <element name="financiamiento" type="int"/>
               <element name="moneda" type="int"/>
               <element name="tipoDeCredito" type="int"/>
               <element name="importe" type="float"/>
               <element name="fechaAprobado" type="dateTime"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasCIyAjustes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasCIyAjustes[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_Conciliacion" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasConciliacion" type="ns1:ArrayOfcom_cgn_ws_biz_LineasConciliacion"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasConciliacion" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="programa" type="int"/>
               <element name="proyecto" type="int"/>
               <element name="objetoDelGasto" type="int"/>
               <element name="auxiliar" type="int"/>
               <element name="financiamiento" type="int"/>
               <element name="moneda" type="int"/>
               <element name="tipoDeCredito" type="int"/>
               <element name="montoAfectado" type="float"/>
               <element name="montoComprometido" type="float"/>
               <element name="montoObligado" type="float"/>
               <element name="montoAjustado" type="float"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasConciliacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasConciliacion[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_Priorizadas" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasPriorizadas" type="ns1:ArrayOfcom_cgn_ws_biz_LineasPriorizadas"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasPriorizadas" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="nroDocAfectacion" type="int"/>
               <element name="nroDocCompromiso" type="int"/>
               <element name="nroDocObligacion" type="int"/>
               <element name="nroLoteOblig" type="int"/>
               <element name="conceptoDeGasto" type="int"/>
               <element name="moneda" type="int"/>
               <element name="claseId" type="string"/>
               <element name="ruc" type="string"/>
               <element name="anioPriorizacion" type="int"/>
               <element name="mesDePriorizacion" type="int"/>
               <element name="secDePriorizacion" type="int"/>
               <element name="montoPriorizado" type="int"/>
               <element name="montoPagado" type="int"/>
               <element name="fechaConfirmado" type="dateTime"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasPriorizadas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasPriorizadas[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_Intervenidas" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasIntervenidas" type="ns1:ArrayOfcom_cgn_ws_biz_LineasIntervenidas"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasIntervenidas" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="nroDocAfectacion" type="int"/>
               <element name="nroDocCompromiso" type="int"/>
               <element name="nroDocObligacion" type="int"/>
               <element name="nroLoteOblig" type="int"/>
               <element name="conceptoDeGasto" type="int"/>
               <element name="moneda" type="int"/>
               <element name="claseId" type="string"/>
               <element name="ruc" type="string"/>
               <element name="secObligacion" type="int"/>
               <element name="tipoDeEjecucion" type="string"/>
               <element name="tipoDeModificacion" type="string"/>
               <element name="financiamiento" type="int"/>
               <element name="tasaDeCambio" type="int"/>
               <element name="montoObligacion" type="int"/>
               <element name="montoRetenciones" type="int"/>
               <element name="liquidoAPagar" type="int"/>
               <element name="fechaAprobado" type="dateTime"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasIntervenidas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasIntervenidas[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_FacturasPagas" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasFacturasPagas" type="ns1:ArrayOfcom_cgn_ws_biz_LineasFacturasPagas"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasFacturasPagas" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="programa" type="int"/>
               <element name="proyecto" type="int"/>
               <element name="objetoDelGasto" type="int"/>
               <element name="auxiliar" type="int"/>
               <element name="financiamiento" type="int"/>
               <element name="moneda" type="int"/>
               <element name="tipoDeCredito" type="int"/>
               <element name="fechaAprobado" type="dateTime"/>
               <element name="importe" type="int"/>
               <element name="nroDocAfectacion" type="int"/>
               <element name="nroDocCompromiso" type="int"/>
               <element name="nroDocObligacion" type="int"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasFacturasPagas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasFacturasPagas[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_FacturasPagasTotalmente" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasFacturasPagasTotalmente" type="ns1:ArrayOfcom_cgn_ws_biz_LineasFacturasPagasTotalmente"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasFacturasPagasTotalmente" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutadora" type="int"/>
               <element name="nroDocAfectacion" type="int"/>
               <element name="nroDocCompromiso" type="int"/>
               <element name="nroDocObligacion" type="int"/>
               <element name="nroLoteObl" type="int"/>
               <element name="conceptoDeGasto" type="int"/>
               <element name="tipodeEjecucion" type="string"/>
               <element name="financiamiento" type="int"/>
               <element name="claseId" type="string"/>
               <element name="ruc" type="string"/>
               <element name="fechaEntregaEnviado" type="dateTime"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasFacturasPagasTotalmente" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasFacturasPagasTotalmente[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_ModPresup" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasModPresup" type="ns1:ArrayOfcom_cgn_ws_biz_LineasModPresup"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasModPresup" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="anioFiscal" type="int"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="programa" type="int"/>
               <element name="proyecto" type="int"/>
               <element name="objetoDelGasto" type="int"/>
               <element name="auxiliar" type="int"/>
               <element name="financiamiento" type="int"/>
               <element name="moneda" type="int"/>
               <element name="tipoDeCredito" type="int"/>
               <element name="importe" type="float"/>
               <element name="fechaAprobado" type="dateTime"/>
               <element name="fecha_modificacion" type="dateTime"/>
               <element name="unidadEjecutoraCreadora" type="int"/>
               <element name="nroDoc" type="int"/>
               <element name="tipoDeModPres" type="int"/>
               <element name="procGen" type="string"/>
               <element name="fecVig" type="dateTime"/>
               <element name="numeroNorma" type="int"/>
               <element name="articuloNorma" type="int"/>
               <element name="observaciones" type="string"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasModPresup" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasModPresup[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="com_cgn_ws_biz_ConciliacionCtasFinancieras" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codResultado" type="int"/>
               <element name="descResultado" type="string"/>
               <element name="arrLineasConciliacionCtasFinancieras" type="ns1:ArrayOfcom_cgn_ws_biz_LineasConciliacionCtasFinancieras"/>
            </all>
         </complexType>
         <complexType name="com_cgn_ws_biz_LineasConciliacionCtasFinancieras" jdev:packageName="com.cgn.ws.biz" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="codigoSirDesde" type="string"/>
               <element name="codigoSirHasta" type="string"/>
               <element name="inciso" type="int"/>
               <element name="unidadEjecutora" type="int"/>
               <element name="financiamiento" type="int"/>
               <element name="fechaTransacDesde" type="string"/>
               <element name="fechaTransacHasta" type="string"/>
               <element name="codigo_sir" type="string"/>
               <element name="moneda" type="int"/>
               <element name="descripcion" type="string"/>
               <element name="fecha" type="dateTime"/>
               <element name="documento" type="string"/>
               <element name="importe" type="float"/>
               <element name="debe_haber" type="string"/>
            </all>
         </complexType>
         <complexType name="ArrayOfcom_cgn_ws_biz_LineasConciliacionCtasFinancieras" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:com_cgn_ws_biz_LineasConciliacionCtasFinancieras[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </types>
   <message name="putSolic0Request">
      <part name="xmlData" type="xsd:string"/>
   </message>
   <message name="putSolic0Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="getSolicStatus1Request">
      <part name="solicXML" type="xsd:string"/>
   </message>
   <message name="getSolicStatus1Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="getCargaInicial2Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
   </message>
   <message name="getCargaInicial2Response">
      <part name="return" type="ns1:com_cgn_ws_biz_CargaInicial"/>
   </message>
   <message name="getCargaInicialYAjustes3Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="fechaDesde" type="xsd:string"/>
      <part name="fechaHasta" type="xsd:string"/>
   </message>
   <message name="getCargaInicialYAjustes3Response">
      <part name="return" type="ns1:com_cgn_ws_biz_CargaInicialYAjustes"/>
   </message>
   <message name="getConciliacion4Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="FechaDesde" type="xsd:string"/>
      <part name="FechaHasta" type="xsd:string"/>
      <part name="tipo" type="xsd:string"/>
   </message>
   <message name="getConciliacion4Response">
      <part name="return" type="ns1:com_cgn_ws_biz_Conciliacion"/>
   </message>
   <message name="getPriorizadas5Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="FechaDesde" type="xsd:string"/>
      <part name="FechaHasta" type="xsd:string"/>
   </message>
   <message name="getPriorizadas5Response">
      <part name="return" type="ns1:com_cgn_ws_biz_Priorizadas"/>
   </message>
   <message name="getIntervenidas6Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="FechaDesde" type="xsd:string"/>
      <part name="FechaHasta" type="xsd:string"/>
   </message>
   <message name="getIntervenidas6Response">
      <part name="return" type="ns1:com_cgn_ws_biz_Intervenidas"/>
   </message>
   <message name="getFacturasPagas7Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="FechaDesde" type="xsd:string"/>
      <part name="FechaHasta" type="xsd:string"/>
   </message>
   <message name="getFacturasPagas7Response">
      <part name="return" type="ns1:com_cgn_ws_biz_FacturasPagas"/>
   </message>
   <message name="getFacturasPagasTotalmente8Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="FechaDesde" type="xsd:string"/>
      <part name="FechaHasta" type="xsd:string"/>
   </message>
   <message name="getFacturasPagasTotalmente8Response">
      <part name="return" type="ns1:com_cgn_ws_biz_FacturasPagasTotalmente"/>
   </message>
   <message name="getModificacionesPresupuestales9Request">
      <part name="anioFiscal" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="fechadesde" type="xsd:string"/>
      <part name="fechahasta" type="xsd:string"/>
   </message>
   <message name="getModificacionesPresupuestales9Response">
      <part name="return" type="ns1:com_cgn_ws_biz_ModPresup"/>
   </message>
   <message name="getConciliacionCtasFinancieras10Request">
      <part name="codigosirdesde" type="xsd:string"/>
      <part name="codigosirhasta" type="xsd:string"/>
      <part name="financiamiento" type="xsd:int"/>
      <part name="inciso" type="xsd:int"/>
      <part name="unidadejecutora" type="xsd:int"/>
      <part name="fechadesde" type="xsd:string"/>
      <part name="fechahasta" type="xsd:string"/>
   </message>
   <message name="getConciliacionCtasFinancieras10Response">
      <part name="return" type="ns1:com_cgn_ws_biz_ConciliacionCtasFinancieras"/>
   </message>
   <portType name="MainWSPortType">
      <operation name="putSolic">
         <input name="putSolic0Request" message="tns:putSolic0Request"/>
         <output name="putSolic0Response" message="tns:putSolic0Response"/>
      </operation>
      <operation name="getSolicStatus">
         <input name="getSolicStatus1Request" message="tns:getSolicStatus1Request"/>
         <output name="getSolicStatus1Response" message="tns:getSolicStatus1Response"/>
      </operation>
      <operation name="getCargaInicial">
         <input name="getCargaInicial2Request" message="tns:getCargaInicial2Request"/>
         <output name="getCargaInicial2Response" message="tns:getCargaInicial2Response"/>
      </operation>
      <operation name="getCargaInicialYAjustes">
         <input name="getCargaInicialYAjustes3Request" message="tns:getCargaInicialYAjustes3Request"/>
         <output name="getCargaInicialYAjustes3Response" message="tns:getCargaInicialYAjustes3Response"/>
      </operation>
      <operation name="getConciliacion">
         <input name="getConciliacion4Request" message="tns:getConciliacion4Request"/>
         <output name="getConciliacion4Response" message="tns:getConciliacion4Response"/>
      </operation>
      <operation name="getPriorizadas">
         <input name="getPriorizadas5Request" message="tns:getPriorizadas5Request"/>
         <output name="getPriorizadas5Response" message="tns:getPriorizadas5Response"/>
      </operation>
      <operation name="getIntervenidas">
         <input name="getIntervenidas6Request" message="tns:getIntervenidas6Request"/>
         <output name="getIntervenidas6Response" message="tns:getIntervenidas6Response"/>
      </operation>
      <operation name="getFacturasPagas">
         <input name="getFacturasPagas7Request" message="tns:getFacturasPagas7Request"/>
         <output name="getFacturasPagas7Response" message="tns:getFacturasPagas7Response"/>
      </operation>
      <operation name="getFacturasPagasTotalmente">
         <input name="getFacturasPagasTotalmente8Request" message="tns:getFacturasPagasTotalmente8Request"/>
         <output name="getFacturasPagasTotalmente8Response" message="tns:getFacturasPagasTotalmente8Response"/>
      </operation>
      <operation name="getModificacionesPresupuestales">
         <input name="getModificacionesPresupuestales9Request" message="tns:getModificacionesPresupuestales9Request"/>
         <output name="getModificacionesPresupuestales9Response" message="tns:getModificacionesPresupuestales9Response"/>
      </operation>
      <operation name="getConciliacionCtasFinancieras">
         <input name="getConciliacionCtasFinancieras10Request" message="tns:getConciliacionCtasFinancieras10Request"/>
         <output name="getConciliacionCtasFinancieras10Response" message="tns:getConciliacionCtasFinancieras10Response"/>
      </operation>
   </portType>
   <binding name="MainWSBinding" type="tns:MainWSPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="putSolic">
         <soap:operation soapAction="" style="rpc"/>
         <input name="putSolic0Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="putSolic0Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getSolicStatus">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getSolicStatus1Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getSolicStatus1Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getCargaInicial">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getCargaInicial2Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getCargaInicial2Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getCargaInicialYAjustes">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getCargaInicialYAjustes3Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getCargaInicialYAjustes3Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getConciliacion">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getConciliacion4Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getConciliacion4Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getPriorizadas">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getPriorizadas5Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getPriorizadas5Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getIntervenidas">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getIntervenidas6Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getIntervenidas6Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getFacturasPagas">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getFacturasPagas7Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getFacturasPagas7Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getFacturasPagasTotalmente">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getFacturasPagasTotalmente8Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getFacturasPagasTotalmente8Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getModificacionesPresupuestales">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getModificacionesPresupuestales9Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getModificacionesPresupuestales9Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getConciliacionCtasFinancieras">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getConciliacionCtasFinancieras10Request">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getConciliacionCtasFinancieras10Response">
            <soap:body use="encoded" namespace="CGNSiiF" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="CGNSiiF">
      <port name="MainWSPort" binding="tns:MainWSBinding">
         <!--<soap:address location="https://test.aps.cgn.red.uy/CGNSiiF/CGNSiiF"/>-->
         <soap:address location="https://test.aps.cgn.red.uy/CGNSiiF/CGNSiiF"/>
      </port>
   </service>
</definitions>
